@import '~antd/dist/antd.css';
Input::placeholder{
    font-family:  Roboto;
}
body{
    color: white;
    background-color: #f4f4f4;
   
    
    width: 100%;
    height: 100%;
}
    .containerPrincipalR{
    border-radius: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 0.5px solid rgb(15, 15, 15);
    padding-left: 25px;
    padding-right: 20px;
    padding-bottom: 30px;
    border-color: rgba(28, 28, 28, 0.2);
    background-color: rgba(255, 255, 255, 0.05);
    box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.4);
    margin: 3px;
    height: 600px;
    width: 400px;
    text-align: center;
}
.containerSecundarioR {
    text-align: center;
}
.inputAntR{
    background-color: rgba(4, 4, 4, 0.3) !important;
    margin-top: 1px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: white;
   width: 300px;
    margin-left: 20px;
    margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.inputAntR input {
    background-color: rgba(4, 4, 4, 0) !important;
    border-radius: 4px;
    color: white;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
}
.buttonAntR {
    background-color: rgba(6, 6, 6, .30);
    margin-top: 25px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 4px rgba(198, 138, 73, 0.25);
    border-color: rgba(220, 122, 19, 0.3) !important;
}
.logoRegister {
    max-width: 13rem;
    margin-top: 1rem;
}
Input{
    background-color: rgba(4, 4, 4, 1) !important;
}

.banner {

    max-height: 10%;
max-width: 100%;

border-right-color: black;
border-width: 3px;

}
.divCard {

border-color: black;
border-style: solid;
text-align: center;

}

.cardAnt{

    
    background-color: rgb(255, 255, 255) !important;
    text-align: center;
     height: 337px;
     width: 497px;
   box-shadow:  0 0 5px rgba(0, 0, 0, 0.4);
   border-radius: 4%;
 }
 